BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
CORS_ORIGINS=
DATABASE_URL=
ENVIRONMENT=
LOG_LEVEL=
NEXT_PUBLIC_ALQURAN_CLOUD_API=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_BETTER_AUTH_API_PREFIX=
NEXT_PUBLIC_BETTER_AUTH_URL=
NEXT_PUBLIC_ENABLE_BATTLES=
NEXT_PUBLIC_ENABLE_ML_SCORING=
NEXT_PUBLIC_ENABLE_TAJWEED_VISUALIZER=
NEXT_PUBLIC_ENVIRONMENT=
NEXT_PUBLIC_EVERYAYAH_CDN=
NEXT_PUBLIC_LOG_LEVEL=
NEXT_PUBLIC_MP3QURAN_CDN=
NEXT_PUBLIC_QURAN_API_BASE=
NEXT_PUBLIC_VERCEL_ANALYTICS_ID=
NEXT_PUBLIC_VERCEL_URL=
POSTGRES_URL=
SKIP_ENV_VALIDATION=
WHISPER_DEVICE=
WHISPER_MODEL=
GEMINI_API_KEY=